__pycache__/
*.py[cod]
.venv/
data/
.ipynb_checkpoints/

outputs/qwen_full_8B_simple_prompt/
outputs/qwen_full_14B_simple_prompt/
outputs/qwen_full_32B_simple_prompt/
outputs/qwen_full_8B_full_prompt/
outputs/qwen_full_14B_full_prompt/


